.container {
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  margin: 1px;
}

.search_form {
  width: 600px;
  height: 40px;
  margin: 20px 10px;
  padding-left: 10px;
  text-align: left;
  border: solid 1px lightgrey;
  border-radius: 25px;
}

.button {
  width: 30ex;
  font-size: 14px;
  color: grey;
  font-style: arial, sans-serif;
  height: 35px;
  margin: 10px 5px;
  !background-color: lightgrey;
  border: solid 1px lightgrey;
  border-radius: 3px;
  padding: 1px 16px;
}

.button:hover {
  border: solid 1px;
  border-color: grey;
  background-color: lightskyblue;
  padding: 1 16px;
}

.page_links {
text-align: right;
}

div > a {
  margin: 5px;
}
